@media screen and (max-width: 1024px){
    main{
        height: 100%;
    }
    .navbar #button-navbar {
        position: relative;
    }
    .navbar-close{
        left: -20%;
        transition: 0.5s;
    }
    

}
@media screen and (max-width: 769px){
    main{
        width: 400px;
    }
    section button{
        width: 150px;
    }
    #bnt-1{
        font-size: 15px;
    }
    #bnt-2{
        font-size: 15px;
    }
    .work #timer{
        font-size: 80px;
    }
    .navbar #button-navbar {
        width: 80%;
        position: relative;
        top: 0;
        left: 20px;
    }
    .navbar-close{
        left: -30%;
        transition: 0.5s;
    }
    .navbar .itens-navbar ul li{
        font-size: 15px;
    }
}
@media screen and (max-width: 494px){
    body {
        width: 90%;
        height: 90vh;
        align-self: self-end;
        justify-self: end;
        /* border: 1px solid red; */
    }
    main{
        width: 350px;
    }
    #img-1{
        right: 8px;
    }
    #img-2{
        right: 60px;
        bottom: 5%;
    }
}
@media screen and (max-width: 426px){
    body{
        height: 90vh;
        width: 90%;
        justify-self: end;
    }
    body h1 {
        font-size: 25px;
    }
    main{
        width: 300px;
        height: 400px;
        justify-self: center;
    }
    .butts{
        height: 50px;
    }
    
    .butts button{
        padding: 10px;
        font-size: 15px;
    }
    section button {
        width: 120px;
        text-align: left;
    }
    .navbar {
        height: 90vh;
    }
    .navbar #button-navbar {
        width: 60%;
        position: relative;
        top: 0;
        left: 20px;
    }
    .navbar-close{
        left: -50%;
        transition: 0.5s;
    }
    .navbar .itens-navbar ul li{
        font-size: 15px;
    }
}

@media screen and (max-width: 376px){
    body{
        height: 90vh;
        width: 90%;
    }
    body h1 {
        font-size: 25px;
        justify-self: end;
    }
    main{
        width: 300px;
        height: 400px;
        justify-self: end;
    }
    .butts{
        height: 50px;
    }
    
    .butts button{
        padding: 10px;
        font-size: 15px;
    }
    section button {
        width: 120px;
        text-align: center;
    }
    .navbar #button-navbar {
        width: 60%;
        position: relative;
        top: 0;
        left: 20px;
    }
    .navbar-close{
        left: -62%;
        transition: 0.5s;
    }
    .navbar .itens-navbar ul li{
        font-size: 15px;
    }
}

/*mobile*/
@media screen and (max-width: 354px){
    header{
        padding: 0;
    }
    header .title-img img{
        margin-top: 2px;
    }
    h1{
        padding: 5px;
        font-size: 25px;
    }
    body{
        width: 90%;
        height: 600px;
        justify-self: end;
        align-self: center;
    }
    main{
        width: 270px;
        
    }
    section button{
        width: 110px;
        padding: 10px;
    }
    .navbar #button-navbar {
        width: 60%;
        position: relative;
        top: 0;
        left: 20px;
    }
    .navbar-close{
        left: -70%;
        transition: 0.5s;
    }
    .navbar .itens-navbar ul li{
        font-size: 15px;
    }
}

@media screen and (max-width: 321px){
    header{
        padding: 0;
    }
    header .title-img img{
        margin-top: 2px;
    }
    h1{
        padding: 5px;
        font-size: 25px;
    }
    body{
        width: 90%;
        height: 600px;
        justify-self: end;
        
    }
    main{
        width: 250px;
    }
    section button{
        width: 100px;
        padding: 10px;
    }
    .navbar #button-navbar {
        width: 60%;
        position: relative;
        top: 0;
        left: 20px;
    }
    .navbar-close{
        left: -74%;
        transition: 0.5s;
    }
    .navbar .itens-navbar ul li{
        font-size: 15px;
    }
}